@font-face {
	font-family: 'Impact'; 
	src: url('fonts/impact.woff') format('woff'), url('fonts/impact.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Harlow';
    src: url('fonts/HARLOWSI.TTF') format('truetype');
}

body
{
	font-family:Helvetica,Verdana;
	margin-bottom: 0px;
}

.bgwhite
{
	background-color: white;
}

.gradient
{
	position:absolute;
	left: 0px;
	width: 100%;
	height: 30%;
}

div.topGradient
{
	top: 0px;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(221,221,221,1)), color-stop(100%, rgba(221,221,221,0)));
	background-image: linear-gradient(to top, rgba(221,221,221,0) 0%, rgba(221,221,221,1) 100%);
}

div.topGradient.oldIE
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdddddd', endColorstr='#00dddddd', GradientType=0 );
}

div.bottomGradient
{
	bottom: 0px;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(221,221,221,0)), color-stop(100%, rgba(221,221,221,1)));
	background-image: linear-gradient(to top, rgba(221,221,221,1) 0%, rgba(221,221,221,0) 100%);
}

div.bottomGradient.oldIE
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00dddddd', endColorstr='#ffdddddd', GradientType=0 );
}

div.rightGradient
{
	position:absolute;
	top: 0px;
	right: 0px;
	height: 100%;
}

div.gradientH
{
    background-image: linear-gradient(to right, rgba(221,221,221,0) 0%, white 10%, white 90%, rgba(221,221,221,0) 100% );
}

div.gradientV
{
}

pre
{
	font-family:Helvetica,Verdana;
}

.title
{
	text-align: center;
	font-size: 24pt;
	font-weight: bold;
}

.harlow
{
	font-family: Harlow;
}

.meme
{
	font-size: 1.5cm;
	font-weight: normal;
	font-family: Impact,Helvetica,Verdana;
}

.subtitle
{
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
}

a.subtitle
{	
	color: white;
}

a.subtitle, a.textOutline, a.orange
{	
	text-decoration: none;
}

.textOutline, .subtitle
{
	color: white;
	text-shadow: 
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.textOutline2, .meme
{
	color: white;
	text-shadow: 
     -2px -2px 0 #000,  
      2px -2px 0 #000,
      -2px 2px 0 #000,
       2px 2px 0 #000,
     -2px 0px 0 #000,  
      2px 0px 0 #000,
      0px -2px 0 #000,
      0px 2px 0 #000;
}

.container
{
	position: relative;
}

.slide
{
	display:block;
	position: absolute;
}

.bg
{
	position: fixed;
	z-index: -5;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.bg, .bgCover
{
    background-repeat: no-repeat;
    background-position: center top;
	background-attachment: fixed;
    background-size: cover;
}

.bgCenterCover
{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

div#files
{
	text-align: center;
}

.mediaFileList
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.overlay-pink
{
	background-color: rgba(255, 0, 255, 0.2);
}

.overlay-yellow
{
	background-color: rgba(255, 255, 0, 0.2);
}

.overlay-cyan
{
	background-color: rgba(0, 255, 255, 0.2);
}

.slide.left
{
	left: 0px;
}

.slide.top
{
	top: 0px;
}

.slide.bottom
{
	bottom: 0px;
}

.slide.right
{
	right: 0px;
}

.bgIE /*for IE6*/
{
	position: absolute;
	z-index: -3;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 99%;
}

.controls
{
	z-index: 5;
}

.caption, .captionBottom
{
	/* fix it at the bottom */
	position:absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

div.file .edit, .captionTop
{
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;	
}

.caption, .captionBelow, a.article
{
	text-align: center;
}

.edit, a.article
{
	font-weight:bold;
}

.captionTop
{
	color: #F80;
	-webkit-text-stroke: 1px black;
    text-shadow: black 1px 1px;
}

.translucent a, .caption a, .captionBelow a, .captionTop a, .orange
{
	color: orange;
}

.captionBelow a.subtitle, .caption a.subtitle, .captionTop a.subtitle
{
 	color: white;
}

.title a, .small a, li a, .caption a, .captionTop a, .captionBelow a, .translucent a, .pages a, .pager a, a.article
{
	text-decoration: none;
}

.paddingH
{
	padding-left: 10px;
	padding-right: 10px;
}

.column .captionBelow, .largeImage .captionBelow
{
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}

div.video .caption, div.video .captionBelow, div.dir .caption, div.dir .captionBelow
{
	padding-top: 5px;
	padding-bottom: 5px;
}

.caption .small, .text
{
	white-space:pre-line;
}

img.icontr:hover, img.iconTrans:hover
{
	opacity:1;
}

img.icontr, img.iconTrans
{
	opacity:0.5;
}

.comments
{
	position: fixed;
	bottom: 15px;
	right: 20px;
	text-align: right;
	margin-right: 10px;
	margin-left: 10px;
}

.fixedLeft
{
	position: fixed;
	top: 40%;
	left: 20px;
	text-align: left;
}

.fixedRight
{
	position: fixed;
	top: 40%;
	right: 20px;
	text-align: right;
}

.headerLeftCorner
{
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: left;
}

.headerRightCorner
{
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: right;
}

.footerLeft50
{
	position: fixed;
	bottom: 50px;
	left: 20px;
}

.footerRight50
{
	position: fixed;
	bottom: 50px;
	right: 20px;
}

.footerCenter
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.footerLeftCorner
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	text-align: left;
}

.bottomLeftCorner
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: left;
}

.bottomRightCorner
{
	position: absolute;
	bottom: 0px;
	right: 0px;
	text-align: right;
}


.footerRightCorner, .musicplayer_footer
{
	position: fixed;
	bottom: 0px;
	right: 0px;
	text-align: right;
}

.desktop #audioContainer
{
	width: 250px;
}

.mobile #audioContainer
{
	width: 80px;
}

.musicplayer
{
	float: right;
	margin-right: 15px;
}

.wrapper
{
	float:none;
	clear:both;
	text-align: center;
}

#fbContainer
{
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	height: 225px;
}

.blackBorder, .rightPane
{
	border: 1px solid black;
}

.topBorder, .topRightBorder, .topLeftBorder
{
	border-top: 3px solid black;
}

.bottomBorder, .bottomRightBorder, .bottomLeftBorder
{
	border-bottom: 3px solid black;
}

.leftBorder, .topLeftBorder, .bottomLeftBorder
{
	border-left: 3px solid black;
}

.rightBorder, .topRightBorder, .bottomRightBorder
{
	border-right: 3px solid black;
}

.rightPane
{
	/*float: right;*/
	max-width: 398px;
	position: relative;
	overflow: auto;
}

#fb-root, .rightPane
{
	background-color: rgba(255, 255, 255, 0.2);
}

.block
{
	display: block;
}

.floater, .inlineBlock
{
	display: inline-block;
	vertical-align: bottom;
}

.column
{
	display: inline-block;
	vertical-align: top;
}

.floatL, .floaterLeft
{
	float: left;
	display: block;
}

.floatR, .floaterRight
{
	float: right;
	display: block;
}

.nofloat, br
{
	float: none;
	clear: both;
}


.file /*.floater, .floaterRight, .floaterLeft*/
{
	padding: 0px;
	position:relative;
	white-space: normal;
	min-width: 20px; 
}

/*.file.margin, .slide.margin, .column.margin*/
.margin
{
	margin: 20px;
}

.margin2
{
	margin: 2px;
}

.marginV
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.marginH
{
	margin-left: 20px;
	margin-right: 20px;
}

.marginH2
{
	margin-left: 2px;
	margin-right: 2px;
}

.player
{
	width: 400px;
}

.photoBorder, .dir.photoBorder
{
	border: 10px solid white;
}

/* ---------------- file templates ---------------- */

.article
{
	border: 1px solid black;
	padding: 2px;
	margin: 3px;
}

div.dir
{
	border: 1px solid black;
	border-radius: 60px;
	background-color: #DDDDDD;
	overflow:hidden;
}

.row  div.dir
{
	width: 298px;
	height: 223px;
}

.row div.dir.smallImage.square
{
	height: 180px;
	width: 180px;
}

.tinyImage > img.thumbnail
{
	height: 100px;
}

.tinyImage .square
{
	height: 100px;
	width: 100px;
}

.row div.dir.tinyImage
{
	width: 128px;
	height: 98px;
}

.row div.dir.tinyImage.square
{
	width: 98px;
}

.column  div.dir
{
	min-height: 118px;
}

.smallImage > img.thumbnail
{
	max-width: 225px;
	max-height: 225px;
}

.smallImage .square
{
	height: 180px;
	width: 180px;
}

.mediumImage .square
{
	height: 270px;
	width: 270px;
}

.mediumImage > img.thumbnail
{
	max-height: 270px;
	max-width: 100%;
}

.row div.dir.mediumImage
{
	width: 448px;
	height: 268px;
}

.row div.dir.mediumImage.square
{
	width: 268px;
}

.largeImage .square
{
	height: 450px;
	width: 450px;
}

.largeImage > img.thumbnail
{
	max-height: 450px;
	max-width: 100%;
}

div.dir img.thumbnail
{
	height: auto;
}

.fullImage
{
	max-width: 100%;
}

.desktop .fullImage .square
{
	height: 700px;
	width: 700px;
	max-width: 100%;
}

.mobile .fullImage .square
{
	height: 250px;
	width: 250px;
	max-width: 100%;
}

.row div.dir.largeImage, .row div.dir.fullImage
{
	width: 598px;
	height: 448px;
}

.row div.dir.largeImage.square, .row div.dir.fullImage.square
{
	width: 448px;
}

/* ---------------- generic styles ---------------- */

.centered, #videoPlayer_wrapper, .footerCenter
{
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

h1
{
	text-align: center;
}

img
{
	vertical-align: top;
	border: none;
}

img.tinyThumb
{
	width: 25%;
	max-height: 40px;
}

.playlist 
{
	text-align: left;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 9pt;
	font-weight: bold;
	vertical-align: middle;
}

.playlist li, .playlist > div.item
{
/*	border-bottom: solid 1px #444;*/
	margin-top: 1px;
	margin-bottom: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.playlist > .selectedItem
{
	font-weight: bold;
	border-top: solid 1px #BBB;
	border-bottom: solid 1px #BBB;
	padding-top: 0px;
	padding-bottom: 0px;
}

.playlist .number
{
	width: 15px; 
	padding-right: 5px;
}

.playlist .duration
{
	width: 20px; 
	padding-left: 5px;
	padding-right: 5px;
}

.playlist .selectedItem a
{
	color: white;
}

.playlist a
{
	vertical-align: bottom;
}

.pager a, .playlist a
{
	cursor: pointer;
}

.pages img, .title img, .caption img, .pager img
{
	vertical-align: middle;
}

div.thumbContainer
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

.smallThumb, .smallThumbLeft, .smallThumbRight
{
	width: 50%;
	margin: 0;
	padding: 0;
	display:block;
}

.smallThumbTop img, .smallThumbBottom img
{
	height: 168px;
	max-width: 600px;
}

/* ---------------- rounded borders ---------------- */

div.video
{
	border-radius: 40px;
}

div.video .thumbnail
{
	border-radius: 40px;
}

.video.photoBorder .thumbnail
{
	border-radius: 30px;
}

div.video .caption
{
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}

div.video.photoBorder .caption
{
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

div.video.photoBorder div.file .edit
{
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

.smallThumbLeft img:first-child
{
	border-top-left-radius: 59px;
}

.smallThumbRight img:first-child
{
	border-top-right-radius: 59px;
}

.photoBorder .smallThumbLeft img:first-child
{
	border-top-left-radius: 50px;
}

.photoBorder .smallThumbRight img:first-child
{
	border-top-right-radius: 50px;
}

div.dir .caption
{
	border-bottom-left-radius: 59px;
	border-bottom-right-radius: 59px;
}

div.dir.photoBorder .caption
{
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

ul.noBullet
{
	list-style: none;
}

.selection
{
	position: absolute;
	z-index: 10;
	border: 1px dashed green;
	background-color: rgba(255, 255, 0, 0.2);
	text-align: left;
}

.selected.photoBorder, .selected .photoBorder
{
	background-color: rgb(0, 255, 0);
	border: 10px double rgb(0, 200, 0);
}

.selected.photoBorder img.thumbnail, .selected img.thumbnail.photoBorder
{
	background-color: rgb(0, 255, 0);
	opacity:0.8;
}


.selected .caption, .selected .captionBelow
{
	background-color: rgba(0, 127, 0, 0.5);
}


/* simple reusable styles */
.noscroll {
	overflow: hidden;
}

.noscrollX {
	overflow-x: hidden;
}

.noscrollY {
	overflow-y: hidden;
}

.scroll {
	overflow :auto;
}

.scrollX {
	overflow-x: auto;
}

.scrollY {
	overflow-y: auto;
}

.spaceLeft { 
	margin-left:10px;
}

.spaceRight { 
	margin-right:10px;
}

.nomargin
{
	margin: 0px;
}

.nomarginX
{
	margin-left: 0px;
	margin-right: 0px;
}

.nomarginY
{
	margin-top: 0px;
	margin-bottom: 0px;
}

.small
{
	font-size: 8pt;
}

.big
{
	font-size: 16pt;
}

.shrinkW {
    max-width: 100%;
}

.shrinkW90 {
    max-width: 90%;
}

.shrinkH {
    max-height: 100%;
}

.shrink {
    max-width: 100%;
    max-height: 100%;
}

.shrinkWmin {
    min-width: 100%;
}

.stretch {
    width: 100%;
    height: 100%;
}

.stretchW {
    width: 100%;
}

.stretchW110 {
    width: 110%;
}

.stretchW90 {
    width: 90%;
}

.stretchW80 {
    width: 80%;
}

.stretchW50 {
    width: 50%;
}

.stretchH {
    height: 100%;
}

.stretchH90 {
    height:90%;
}

.stretchH80 {
    height:80%;
}

.stretchH50 {
    height:50%;
}

.left
{
	text-align: left;
}

.number, .right {
	text-align: right;
}

.center {
	text-align: center;
}

.date {
	width: 100px;
	text-align: center;
}

.bold {
	font-weight: bold;
}

.nowrap {
	white-space: nowrap;
}

.hidden {
	display: none;
}

.hiddenV {
	opacity: 0;
	visibility: hidden;
}

a.download, .tag
{
	padding-left: 2px;
	padding-right: 2px;
	line-height: 18px;
	border-radius: 6px;
	font-weight: bold;
}

a.download
{
	background-color: #444;
	border: 1px solid orange;
}

a.tag
{
	background-color: #666;
	border: 1px solid yellow;
	color: yellow;
	border-radius: 6px;
	cursor: pointer;
}

.shadow
{
	-webkit-box-shadow: -5px -5px 8px #444;
	box-shadow: -5px -5px 8px #444;
}

.margin.shadow 
{
	-webkit-box-shadow: -5px 5px 8px #444;
	box-shadow: -5px 5px 8px #444;
}

.shadowIn
{
	-webkit-box-shadow: inset -5px 10px 10px #AAA;
	box-shadow: inset -5px 10px 10px rgba(160, 160, 160, 0.8);
}

.error
{
	color:red;
	font-weight: bold;
}
.file .error
{
	min-width: 200px;
}

/*differences between screen and print*/
@media screen
{
	body, .defaultBg
	{
		background-color: rgb(221,221,221);
	}

	.translucent, .caption, .captionBelow
	{
		color:white;
		background-color: rgba(0, 0, 0, 0.5);
	}
}
	
@media print
{
	body, .defaultBg
	{
		background-color: white;
	}

	.noprint, .icon, .icontr, .download, #fbContainer , #options, .pager, #counts, #pageCounts, #pathLinks, #dateRange, #state/*, #divbg*/
	{
		display:none;
	}

	.translucent, .caption, .captionBelow
	{
		color:black;
		background-color: rgba(255, 255, 255, 0.5);
	}	
}

.translucentWhite
{
	color:black;
	background-color: rgba(255, 255, 255, 0.5);
}	


/*CSS3 rotate test*/

.transition {
	-webkit-transition: all 1s ease-in-out; 
	transition: all 1s ease-in-out; 
}

.rotator:hover { 
	-ms-transform: rotate(-90deg); 
	transform: rotate(-90deg); 
}

.scale:hover, .zoomHalf
{
	-webkit-transform: scale(.5,.5);
	-ms-transform: scale(.5,.5);
	transform: scale(.5,.5);
}

.scale2:hover, .zoomDouble
{
	-webkit-transform: scale(2,2);
	-ms-transform: scale(2,2);
	transform: scale(2,2);
}

.rotateL
{
	-ms-transform: rotate(-5deg); 
	transform: rotate(-5deg); 
}

.rotateR
{
	-ms-transform: rotate(5deg); 
	transform: rotate(5deg); 
}


input.numericField
{
	width: 40px;
}

.toolbar 
{
	padding: 4px;
	vertical-align: middle;
}

.vTop
{
	vertical-align: top;
}

.vMiddle
{
	vertical-align: middle;
}

.vBottom
{
	vertical-align: bottom;
}

.toolbar > div, .toolbar img
{
	vertical-align: middle;
}

/* Checkbox Styles */
label.checkboxLabel, label.tagLabel
{
	font-weight: bold;
	margin: 2px;
	min-width: 16px;
	height: 16px;
	font-size: 14px;
	color: #FFF;
	text-align: center;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	background-color: #522;

	box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,0.5);

	display: inline-block;
	border: 4px solid #BBB;
	border-radius: 100px;
}

label.tagLabel
{
	background-color: #531;
}

.checkButton img
{
	height: 14px;
}

/* Create the checked state */
input[type=checkbox]:checked + label.checkboxLabel,
input[type=checkbox]:checked + label.tagLabel
{
	box-shadow:inset 1px 2px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 1px 2px 3px rgba(0,0,0,0.5);
	border: 4px solid #AEA;
}

input[type=checkbox]:checked + label.checkboxLabel
{
	background-color: #3c3;
	border: 4px solid #AEA;
}

input[type=checkbox]:checked + label.tagLabel
{
	background-color: #c83;
	border: 4px solid #ea6;
}

.translucent select, .translucent input, .edit input[type=text], .edit select
{
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	border: 1px solid gray;
}

/*========= MOBILE ==============*/

body.mobile
{
	font-size: .5cm;
}

.mobile .title
{
	font-size: 18pt;
}

/* big UI widgets for mobile */
.mobile input, .mobile select
{
	font-size: .4cm;
}

.mobile .small
{
	font-size: .3cm;
}

.mobile label.checkboxLabel img, .mobile label.tagLabel img, .mobile img.icon, .mobile img.icontr, .mobile .controls img
{
	min-height: .5cm;
	max-height: 2cm;
}

.mobile label.checkboxLabel, .mobile label.tagLabel
{	min-width: .6cm;
	height: .6cm;
	font-size: .6cm;
	margin-left: 10px;
	border: 4px solid #CCC;
}

.mobile input[type=checkbox]:checked + label.checkboxLabel
{
	border: 4px solid #AEA;
}

.mobile input[type=checkbox]:checked + label.tagLabel
{
	border: 4px solid #ea6;
}

/*TODO media query with screen size*/
.mobile .desktop
{
	display: none;
}

/*end ========= MOBILE ==============*/

.progressBar
{
	text-align: left;
	color: white;
	font-weight: bold;
}

.progressBar .progress
{
	background-color: rgba(0, 255, 0, 0.6);
	margin: 1px;
	text-align: right;
}

.progressBar .progessValue
{
	margin-right: 3px;
}

.progressBar .remainingValue
{
	margin-left: 3px;
	margin-right: 3px;
}
