<script id="fileTemplate" type="text/x-jsrender"> 
	<div class="file floater" id="{{:id}}">
		<a href="{{:~fileUrl(#data)}}">{{>name}}</a> is {{>type}}.
		{{if exts}}
			({{>exts.join(", ")}}).
		{{/if}}
	</div>
</script>

<script id="downloadFileTemplate" type="text/x-jsrender"> 
<div class="small">
	<div class="floatR">
		{{if exts}}{{:exts.join(", ")}}{{/if}}
		{{:takenDate}}
	</div>
	<a href="{{:~fileUrl(#data)}}">{{:title}}</a>
</div>
</script>

<script id="fileboxTemplate" type="text/x-jsrender">{{if ~getGroup(#data) tmpl="#separatorTemplate"/}}<div id="{{:id}}" 
	class="file {{:~divClasses(#data) link=false}}"	style="{{:~divStyles()}}" page="{{:~albumVar('pageNum')}}" index="{{:getFileIndex(#index)}}">
		{{if type=="DIR" && thumbnails}}
			<a href="?{{:~filePath(#data)}}" title="{{>title}}">
				<div class="{{if ~albumVar('columns')!=-1}}smallThumbLeft floatL{{else}}smallThumbTop{{/if}}">
					{{for thumbnails.getHalfElements(0) tmpl="tnTemplate"/}}
				</div>
				<div class="{{if ~albumVar('columns')!=-1}}smallThumbRight floatR{{else}}smallThumbBottom{{/if}}">
					{{for thumbnails.getHalfElements(1) tmpl="tnTemplate"/}}
				</div>
			</a>
		{{else type=="VIDEO" && isExternalVideoStream() && ~config("MediaPlayer").slide.enabled && ~config("youtube").mode=="iframe"}}
				<img class="thumbnail playLink {{:~imgClasses(#data) link=false}}" src="{{:~thumbnailUrl(#data)}}" title="play from YouTube"/>
		{{else type=="VIDEO" && tnsizes && isLocalVideoStream() && ~config("MediaPlayer").slide.enabled}}
				<img class="thumbnail playLink {{:~imgClasses(#data) link=false}}" src="{{:~thumbnailUrl(#data,~albumVar('tnIndex'),true)}}" title="play {{:stream}}"/>
		{{else type=="VIDEO" && (tnsizes || isExternalVideoStream() && ~config("youtube").mode=="link") }}
			<a href="{{:~fileUrl(#data,stream)}}" target="fileDownload">
				<img class="thumbnail {{:~imgClasses(#data) link=false}}" src="{{:~thumbnailUrl(#data,~albumVar('tnIndex'),true)}}" title="download {{:stream}}"/>
			</a>
		{{else type=="IMAGE"}}
			<img class="thumbnail {{:~imgClasses(#data) link=false}}" src="{{:~thumbnailUrl(#data,~albumVar('tnIndex'),true)}}"/>
		{{/if}}
			
		{{if ~albumVar('caption') && type=="VIDEO" tmpl='#videoCaptionTemplate'}}
		{{else ~albumVar('caption') && type=="DIR" tmpl='#dirCaptionTemplate'}}
		{{else ~albumVar('caption') tmpl='#imageCaptionTemplate'}}
		{{else ~albumVar('caption') tmpl='#descriptionTemplate'}}
		{{/if}}
</div>{{if ~albumVar('columns')==1}}<br/>{{/if}}{{:~setGroup(#data)}}</script>

<!--directory thumbnails-->
<script id="tnTemplate" type="text/x-jsrender"><img class="thumbnail {{:~dirImgClasses(#data) link=false}}" src="{{:~combine(~fileUrl(#parent.parent.data), #data)}}" alt="{{:#data}}" /></script>

<!-- template for separator -->
<script id="separatorTemplate" type="text/x-jsrender"> 
	<div class="{{:~subtitleClasses()}}"><span class="bold translucent shadow">{{:~getGroup(#data)}}</span></div>
</script>

<!-- template for photo caption -->
<script id="descriptionTagTemplate" type="text/x-jsrender"> 
	<span id="desc_{{:id}}" class="description">{{:description}}</span>
	{{for getTags() tmpl="tagTemplate"/}}
</script>

<script id="descriptionTemplate" type="text/x-jsrender"> 
	<div class="captionBelow big">
		<span id="desc_{{:id}}" class="description">{{:description}}</span>
	</div>
</script>

<script id="dirCaptionTemplate" type="text/x-jsrender"> 
	<div class="{{:~captionClasses(#data) link=false}}">
		<div><a class="subtitle" href="?{{:~filePath(#data)}}" title="{{>title}}">{{>title}}</a></div>
		{{if true tmpl="descriptionTagTemplate"/}}
		<div class="small">{{:~dateRange(oldestDate,newestDate,false)}}</div>
	</div>
</script>

<!-- template for photo caption -->
<script id="imageCaptionTemplate" type="text/x-jsrender"> 
	<div class="{{:~captionClasses(#data) link=false}}">
		<div class="floatR">
			<a {{if vsizes}} title="{{:width}}x{{:height}} {{:~formatSize(vsizes[exts[0]])}}"{{/if}} href="{{:~fileUrl(#data)}}" target="fileDownload">
				<img class="icon" src="icons/download.gif" alt="download {{>filename}}"/>
			</a>
		</div>
		<div class="nowrap noscroll">{{>title}}</div>
		{{if true tmpl="descriptionTagTemplate"/}}
		<div>{{if takenDate && ~dateFormat(takenDate,"monthDayTime")}}{{:~dateFormat(takenDate,"monthDayTime")}}{{/if}}
			{{if transparent}}Tr{{/if}}
			{{if alpha}}RGBA{{/if}}
			{{if animated}}Anim{{/if}}
		</div>
	</div>
</script>

<!-- template for video caption -->
<script id="videoCaptionTemplate" type="text/x-jsrender"> 
	<div class="{{:~captionClasses(#data) link=false}}">
		<div class="floatR" style="margin-left:5px; margin-right:5px; max-width:35%;">
			{{if duration}}{{:~formatTime(duration)}}{{/if}}
			{{if isLocalVideoStream()}}<img class="playLink" src="icons/play.png" title="play {{:stream}}" /><br/>{{/if}}
			{{if exts}}{{for exts tmpl="extLinkTemplate"/}}{{/if}}
		</div>
		<div class="nowrap noscroll">{{>title}}</div>
		{{if true tmpl="descriptionTagTemplate"/}}
		{{if takenDate && ~dateFormat(takenDate,"monthDayTime")}}
			<div>{{:~dateFormat(takenDate,"monthDayTime")}}</div>
		{{/if}}
	</div>
</script>

<!-- template for tags -->
<script id="tagTemplate" type="text/x-jsrender"> 
	{{if #data=='best'}}
		<img class="tag" alt="{{:#data}}" src="icons/{{:#data}}.png"
		{{if true}} onclick="UI.fileActionAjax({action:'{{:~action}}', to:'{{:#data}}', multiple:{{:~multiple ? 'true' : 'false'}}, confirm:{{:~confirm ? 'true' : 'false'}} })"{{/if}}/>
	{{else}}
		<a class="tag nowrap" {{if true}} onclick="UI.fileActionAjax({ action:'{{:~action}}', to:'{{:#data}}', multiple:{{:~multiple ? 'true' : 'false'}}, confirm: {{:~confirm ? 'true' : 'false'}} })"{{/if}}>{{:~makeTitle(#data)}}</a>
	{{/if}}
</script>

<!-- template for tags search -->
<script id="tagSelectTemplate" type="text/x-jsrender"> 
	<input id="cb_tag_{{:#data}}" type="checkbox" class="tagOption" label="{{:~makeTitle(#data)}}" title="{{:#data}}" icon="{{if #data=='best'}}icons/{{:#data}}.png{{/if}}"/>
</script>

<!-- template for video download links by extension -->
<script id="extLinkTemplate" type="text/x-jsrender"> 
	<a class="download" title="{{:#parent.parent.data.width}}x{{:#parent.parent.data.height}} {{:~formatSize(#parent.parent.data.vsizes[#data])}}" href="{{:~fileUrl(#parent.parent.data, #data)}}">{{:#data.toUpperCase()}}</a>
</script>

<!-- template for playlist items -->
<script id="playlistItemTemplate2" type="text/x-jsrender">
	<div id="{{:type}}PlaylistItem_{{:#index}}" class="item hidden nofloat translucent">
		<div class="number small inlineBlock">{{:(#index+1)}}</div>

		{{if tnsizes}}
			<img class="tinyThumb inlineBlock" src="{{:~thumbnailUrl(#data)}}" title="play {{:stream}}" onclick="MediaPlayer.{{:type.toLowerCase()}}.playItem({{:#index}})" />
		{{/if}}

 
		<div class="inlineBlock marginH" style="max-width:60%">
		<a onclick="MediaPlayer.{{:type.toLowerCase()}}.playItem({{:#index}})">{{>title}}</a>
		{{:description}}
		</div>
	</div>
</script>

<script id="playlistItemTemplate" type="text/x-jsrender">
	<div id="{{:type}}PlaylistItem_{{:#index}}" class="hidden translucent">
		<a href="{{:~fileUrl(#data)}}" target="fileDownload">
			<img class="floatR icon" src="icons/download.gif" height="12px" style="margin: 2px;" title="download {{>filename}}"/>
		</a>
		{{if ~config("ENABLE_FFMPEG") }}
			<a href="{{:~scriptUrl(#data, 'data.php', 'data=metadata')}}" target="metadata">
				<img class="floatR" src="icons/info.png" height="12px" style="margin: 2px;" title="info {{>filename}}"/>
		</a>
		{{/if}}
		<div class="duration small floatR">{{if duration}}{{:~formatTime(duration)}}{{/if}}</div> 
		<div class="number small floatL">{{:(#index+1)}}</div>
		{{if tnsizes }}
			<img class="tinyThumb floatL" src="{{:~thumbnailUrl(#data)}}" title="play {{:stream}}" 
			onclick="MediaPlayer.{{:type.toLowerCase()}}.playItem({{:#index}})" />
		{{/if}}
		<a onclick="MediaPlayer.{{:type.toLowerCase()}}.playItem({{:#index}})">{{>title}}</a>
		{{if true tmpl="descriptionTagTemplate"/}}
		<br/>
	</div>
</script>

<script id="playlistLinkTemplate" type="text/x-jsrender">
	<div id="{{:type}}PlaylistItem_{{:#index}}" class="hidden translucent">
		{{if ~config("ENABLE_FFMPEG") }}
			<a href="{{:~scriptUrl(#data, 'data.php', 'data=metadata')}}" target="metadata">
				<img class="floatR" src="icons/info.png" height="12px" style="margin: 2px;" title="info {{>filename}}"/>
		</a>
		{{/if}}
		<div class="duration small floatR">{{if duration}}{{:~formatTime(duration)}}{{/if}}</div> 
		<div class="number small floatL">{{:(#index+1)}}</div>

		<a href="{{:~fileUrl(#data)}}" class="track" title="{{:title}} {{:getTags().join(', ') }}">
			{{if tnsizes}}
				<img class="tinyThumb floatL" src="{{:~thumbnailUrl(#data)}}" />
			{{/if}}
			{{: description || title}}
		</a>
		{{if type=="VIDEO"}}			
			<br/>
		{{/if}}
	</div>
</script>

<script id="articleLinkTemplate" type="text/x-jsrender">
	<a  id="{{:type}}_article_{{:id}}" class="article" href="#{{:name}}" onclick="UI.displayArticle('{{:id}}')">{{:title}}</a>
</script>

<!-- template for playlist items -->
<script id="audioLinkTemplate" type="text/x-jsrender">
	<div id="{{:type}}PlaylistItem_{{:#index}}" class="hidden translucent">
	{{if duration}}
		<div class="duration small floatR">{{:~formatTime(duration)}}</div> 
	{{/if}}
		<a href="{{:~fileUrl(#data)}}" class="track" title="{{:title}}">{{: description || title}}</a>
	</div>
</script>

